
 .error
	   {
	   	color: red;
	   	
	   }
.success
{
	color: green;
}
.deleteconfirm
{
    color: #666;
}
.fa-spinner
{

	color:white;


}
#spinner
{
	/*vertical-align: center;
	margin: 0px auto;*/
	 width: 100px;
    height: 100px;
    
    opacity: 1;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.medium
{
	background:#D6D4F9;
	color:#3C0968;
}
#totalcost
{
	font-size: 20px;
}
#username
{
    color: #666 !important;
}
.confirm
{
	color: green;
	font-style: italic;
}
.fieldset
{
	color: red;
}
/* Rounded Corner */
.tb5 {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
}

.modal-footer {
 
    padding: 15px;
    text-align: right;
    border-top: none !important;
}

#timer
{
    font-size: 40px;
}

.calendername
{
	font-size: 18px;
	color: rgba(202, 205, 208, 0.95);
	
}

.calendervalue
{
	font-size: 17px;
}

.calenderbox
{
	    border: 2px solid #ffffff;
	    padding: 15px;
	    border-radius: 10px;
	    margin-top: 20px;
	   -webkit-box-shadow: 28px 27px 30px 2px rgba(12,13,12,0.87);
-moz-box-shadow: 28px 27px 30px 2px rgba(12,13,12,0.87);
box-shadow: 28px 27px 30px 2px rgba(12,13,12,0.87);

}

nav
{
	-webkit-box-shadow: 0px 14px 22px -6px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 14px 22px -6px rgba(0,0,0,0.21);
box-shadow: 0px 14px 22px -6px rgba(0,0,0,0.21);
}




input:focus {
    outline: none;
    box-shadow: 0px 0px 7px #61C5FA;
    border-color: #61C5FA;
}


