 .error
	   {
	   	color: red;
	   	font-style: italic;
	   }
.deleteconfirm
{
    color: #666;
}
#username
{
    color: #666 !important;
}
.confirm
{
	color: green;
	font-style: italic;
}
.fieldset
{
	color: red;
}
/* Rounded Corner */
.tb5 {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
}

.modal-footer {
 
    padding: 15px;
    text-align: right;
    border-top: none !important;
}

input {
    border: 1px solid black;
    
 
    
    height: 30px;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    
    font-size: 15px;
    
    transition:.2s linear;
    -webkit-transition:.2s linear;
    -moz-transition:.2s linear;
}




input:focus {
    outline: none;
    box-shadow: 0px 0px 7px #61C5FA;
    border-color: #61C5FA;
}
